<% 
    imageHelper = (folder, imageName, alt = `Image` , className = "img-reponsive img-avatar") => {
        
        if (imageName == null) {
                imageName = `no-avatar.png` ;
        }
       
        return ` <div style="width: 30% ; height: 30%;"><img class="${className}" src="${folder + imageName}" alt="${alt}" /></div>`;
    }
%>






